*.cm[aioxt]
*.cmx[as]
*.cmti
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.exe
config.*
.depend
Makefile
examples/Makefile
examples/*.opt
examples/opar
examples/ossl
examples/oput
examples/ominimal
examples/omulti
examples/ocurl
examples/ocurl_test_threads
examples/test_cb_exn
examples/test_lwt
examples/test_lwt_unit
examples/test_memory_leaks
examples/test_enum
/doc
/print_ext
/autom4te.cache
